<!DOCTYPE html>
<html>
    <head>
       <title>404-Страница не существует</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <iframe width="1" height="1" scrolling="no" frameborder="no"
            src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F69131198&amp;auto_play=true&amp;show_artwork=true&amp;color=ff7700">                    
        </iframe>
        <div align="center"><h1><font color="green">404-page not found</font></h1></div>
    </body>
</html>
