html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: none;
}
input {
  vertical-align: middle;
}
/* ======= CSS RESET ======= */

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('f/myriadpro-regular.eot');
	src: local('myriadpro-regular'), url('f/myriadpro-regular.woff') format('woff'), url('f/myriadpro-regular.ttf') format('truetype');
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  min-height: 100%;
  height: auto;
  
  padding-left: 110px;
  padding-right: 10px;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-wrap {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.b-left-nav {
  width: 100px;
  height: 100%;
  
  position: fixed;
  top: 0px;
  left: 0px;
  
  background-color: #00aeef;
}

.b-left-nav_logo-img {
  width: 100px;
  height: 100px;
  
  display: block;
  
  background: url(i/logo.png) center no-repeat;
  text-decoration: none;
}

.b-content-body {
  width: 100%;
  height: auto;
}

.b-page-name {
  width: 100%;
  height: 50px;
  
  padding-top: 10px;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
  
  font-family: 'MyriadPro-Regular';
  font-size: 2.2em;
  text-align: left;
  color: #00aeef;
}

.b-hide-footer {
  width: 100%;
  height: 30px;
}

.b-footer {
  width: 100%;
  height: 30px;
  
  clear: both;
  
  margin-top: -30px;
}

.b-footer p{
  height: 100%;
  line-height: 30px;
  text-align: center;
  font-size: 1em;
  font-family: 'MyriadPro-Regular';
}